<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP-START -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- BOOTSTRAP-END -->

    <link rel="stylesheet" href="./style.css">

    <title>RegisTration</title>
</head>

<body>
    <h2 class="text-center mt-5 text-white">Employee Registration Form</h2>

    <div class="container mt-5 text-white">

        <form action="/register" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first name">First Name</label>
                    <input type="text" class="form-control" id="First Name" placeholder="Enter First Name"
                        name="firstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="last name">Last Name</label>
                    <input type="text" class="form-control" id="Last Name" placeholder="Enter Last Name"
                        name="lastName">
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password"
                        name="password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Confirm Password"
                        name="cPassword" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mobile number">Mobile Number</label>
                    <input type="text" class="form-control" id="moblie" placeholder="Enter Mobile Number" name="mobile"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Age">Age</label>
                    <input type="Age" class="form-control" id="Age" aria-describedby="Age" placeholder="Enter Age"
                        name="age" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3 center-block">Sign Up</button>
        </form>
    </div>

</body>

</html>